# .NET
[Bb]in/
[Oo]bj/
[Tt]est[Rr]esults/
*.user
*.suo
*.sln.docstates

# Visual Studio
.vs/
.vscode/

# Database
app.db
*.db-shm
*.db-wal

# Local .dotnet folder
.dotnet/

# Logs
*.log
*.err

# OS files
.DS_Store
Thumbs.db
